/* CSS 코드*/
/*배경*/
html, body {
    background: #faf5f7;
    height: auto !important;
}



/* 로고 */
header .row>div:nth-child(1)>a {
    display: block;
    width: 218px;
    height: 50px;
    background: url(https://whgusgh135.github.io/tgd/ellia_logo.png) no-repeat;
    background-size: contain;
}

header .row>div:nth-child(1)>a>img {
    display: none;
}

header #right-search-form>input[type=text] {

    position: relative;

    border: 3px solid #705ac3;

    background: #fff;

    font-size: 1.1em;

    padding: 0.3em 0.5em;

}

header #right-search-form>#right-search-btn {

    color: #ffffff;

    background: transparent;

    border: none;

    font-size: 1.4em;

}



header #header-bar>.row {

    padding-top: 0.3em;

    padding-bottom: .3em;

    border-top: 5px solid #705ac3;

    background: #fff;

    border-bottom: 2px solid #ebeae8;

    border-right: 2px solid #ebeae8;

    margin-top: -12px;

}

#main .menu-wrapper>.header {

    background: #705ac3;

    color: #fff;

    padding: .45em 1.4em .45em 1em;

    font-weight: bold;

}

/*프로필 */

#board-info #board-info-profile-img {

    z-index: 100;

    margin-top: -36px;

    margin-left: 613px;

    position: absolute;

    height: 100px;

    border-radius: 50%;

    width: 100px;

    border: 2px solid #705ac3;

    content: url(https://1.bp.blogspot.com/-6pCKWONStm4/YM9RzDm-AHI/AAAAAAAAAmM/jbn5fhYXc0cOtg6vozALyEtZwJq3MlsvwCLcBGAsYHQ/s0/cute-%25EB%2591%2590%25EB%25B6%25802.gif);

}

/*프로필  hover */

#board-info #board-info-profile-img:hover {

    transform: scale(3); /* 크기가 커짐 */

    transition: .50s; /* 0.2초에 걸쳐서 부드럽게 애니메이션이 진행 */

}

/*땃쥐*/

#article-list:after {

    display: block;

    content: '';

    position: absolute;

    right: 0;

    top: 571px;

    background-image: url(https://1.bp.blogspot.com/-qQNs3a1tRVg/YM9e3jvG5pI/AAAAAAAAAms/b-LvO-NFHR4wyV9CJF96o5RDYzViQdPfgCLcBGAsYHQ/s320/%25EB%2595%2583%25EC%25A5%2590.png);

    background-size: contain;

    background-repeat: no-repeat;

    width: 200px;

    height: 200px;

    transition-duration: 1s;

}



#article-list {

    overflow: hidden;

}

#article-list:hover:after {

    transition-duration: 1s;

    background-repeat: no-repeat;

    right: -60px;

}

body::before {

    content: '';

    display: block;

    position: absolute;

    width: 400px;

    height: 400px;

    background-image: url(https://1.bp.blogspot.com/-ppqEK-bGYZo/YM9Tklr9ViI/AAAAAAAAAmU/hjlsRXMOZB4IX9cA8UgFk_lQ-RgXpR0wgCLcBGAsYHQ/s320/noona.png);

    background-repeat: no-repeat;

    background-size: contain;

    left: 57px;

    bottom: 0px;

}

#movetotop {

    opacity: 1;

    background: url(https://1.bp.blogspot.com/-Mbc9eiD4bng/YM9krRzG8EI/AAAAAAAAAm0/4B3oT6yW2C0UrpG0xopTMO_8uIZ8LzRNgCLcBGAsYHQ/s320/%25EB%2595%2583%25EC%25A5%2590.png);

    width: 200px;

    height: 200px;

    background-size: contain;

}

#movetotop img{display:none}