/* CSS 코드*/

/*배경*/
html, body {
    background: #faf5f7;
    height: auto !important;
}

/* 로고 */
header .row>div:nth-child(1)>a {
    display: block;
    width: 218px;
    height: 50px;
    background: url(https://whgusgh135.github.io/tgd/ellia_logo.png) no-repeat;
    background-size: contain;
}

header .row>div:nth-child(1)>a>img {
    display: none;
}

/* 검색창 */
header #right-search-form>input[type=text] {
    border: 3px solid #ff768b;
}

header #right-search-form>#right-search-btn {
    color: #ff768b;
}



/* 광고 배너 */
header #header-bar>.row {
    border-top: 5px solid #ff768b
}

/* 광고 배너 광고 뱃지 */
header #header-bar #header-top-notice strong.notice-badge {
    background: #ff768b;
}


/* 좌측 배너 헤더 */
#main .menu-wrapper>.header {
    background: #ff768b;
}

#main .menu-wrapper .spacer {
    background: #ff768b;
}

#main .menu-wrapper>a>em {
    color: #f97f91
}


/*프로필 */

#board-info #board-info-profile-img {
    margin-top: -8px;
    margin-left: 768px;
    position: absolute;
    height: 65px;
    border-radius: 50%;
    width: 65px;
    border: 2px solid #ff768b;
    z-index: 100;
}

/*프로필  hover */
#board-info #board-info-profile-img:hover {
    transform: scale(1.5); /* 크기가 커짐 */
    transition: .50s; /* 0.2초에 걸쳐서 부드럽게 애니메이션이 진행 */
}

#board-info #viewers-area #viewers:after {
    content: "명의 쭈구리가 숨어있어요";
    cursor: text;
}

/* 메인 배너 링크 */
#board-info #board-info-bottom a {
    color: #ff788a;
}

/* 메인 배너 */
#article-list #article-list-category {
    background: #ffebf2;
    border-top: 2px solid #ff788a;
}

#article-list #article-list-category>a {
    background: #ffebf2;
}

/* 메인 배너 글 공지 */
#article-list>.article-list-row.notice {
    background-color: #ffebf2;
}

/* 공지 아이콘 */
span.a-badge i.fa.fa-info-circle {
    color: #ff788a;
}

/* 인기글 */
#article-list>.article-list-row.hot {
    background-color: #fff5f9;
}

/* 글 추천 수 */
#article-list>.article-list-row>.item>.list-header>span {
    background-color: #ff788a;
}

/* 댓글 수 */
#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #ff788a;
}


/* 버튼 */
.btn-primary {
    background-color: #ff788a;
}
.btn-primary:hover {
    background-color: #ff5c72;
}

.btn-primary:active:focus {
    background-color: #ff5c72;
    border-color: #ff5c72;
}


/* 위로가기 버튼 */
#movetotop {
    opacity: 1;
    background: url(https://whgusgh135.github.io/tgd/ellia_up.png);
    width: 120px;
    height: 120px;
    background-size: contain;
}

#movetotop img {
    display:none
}


/* 페이지 버튼 */
.pagination>li>a, .pagination>li>span {
    color: #ff788a;
}

.pagination>.active>a {
    background-color: #ff788a;
    border-color: #ff788a;
}


footer>.container>span>a {
    color: #ff788a;
}

footer>.container>span>a:focus, footer>.container>span>a:hover {
    color: #ff5c72;
}


/* 게시글 페이지 */
#article-content-wrapper>.header {
    border-top: 2px solid #ff768b;
    background: #ffebf2;
}

#article-content-wrapper>.footer {
    background: #fff5f9;
}

#article-reply-area {
    background: #fff5f9;
}

/* 하트 펌핑 애니메이션 */
@keyframes heartbeat {
    0% {transform: scale(0.85);}50% {transform: scale(1.15);}100% {transform: scale(0.85);}
}

small.favo i.fa.fa-heart {
    color: #ff96a6;
    animation: heartbeat 1.5s infinite;
}